<div class="page-header">
  <h1>Sibling Application #<%= @sibling_application.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>School of attendance</dt>
  <dd><%= @sibling_application.school_of_attendance %></dd>

  <dt>Ineligible student</dt>
  <dd><%= @sibling_application.ineligible_student %></dd>

  <dt>Ineligible cps</dt>
  <dd><%= @sibling_application.ineligible_cps_id %></dd>

  <dt>Eligible student</dt>
  <dd><%= @sibling_application.eligible_student %></dd>

  <dt>Eligible cps</dt>
  <dd><%= @sibling_application.eligible_cps_id %></dd>

  <dt>Relationship</dt>
  <dd><%= @sibling_application.relationship %></dd>

  <dt>Home address</dt>
  <dd><%= @sibling_application.home_address %></dd>

</dl>
