<div class="page-header">
  <h1>Safety Hazard Application #<%= @safety_hazard_application.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Student name</dt>
  <dd><%= @safety_hazard_application.student_name %></dd>

  <dt>Cps</dt>
  <dd><%= @safety_hazard_application.cps_id %></dd>

  <dt>Home address</dt>
  <dd><%= @safety_hazard_application.home_address %></dd>

  <dt>School of attendance</dt>
  <dd><%= @safety_hazard_application.school_of_attendance %></dd>

  <dt>School address</dt>
  <dd><%= @safety_hazard_application.school_address %></dd>

  <dt>Hazard location</dt>
  <dd><%= @safety_hazard_application.hazard_location %></dd>

  <dt>Hazard type</dt>
  <dd><%= @safety_hazard_application.hazard_type %></dd>

  <dt>Admin</dt>
  <dd><%= @safety_hazard_application.admin_id %></dd>

</dl>
