<div class="page-header">
  <h1>Park Program Application #<%= @park_program_application.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Student name</dt>
  <dd><%= @park_program_application.student_name %></dd>

  <dt>Cps</dt>
  <dd><%= @park_program_application.cps_id %></dd>

  <dt>School of attendance</dt>
  <dd><%= @park_program_application.school_of_attendance %></dd>

  <dt>Park name</dt>
  <dd><%= @park_program_application.park_name %></dd>

  <dt>Park address</dt>
  <dd><%= @park_program_application.park_address %></dd>

  <dt>Admin</dt>
  <dd><%= @park_program_application.admin_id %></dd>

</dl>
