<div class="page-header">
  <h1>Special Education Application #<%= @special_education_application.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Student name</dt>
  <dd><%= @special_education_application.student_name %></dd>

  <dt>Cps</dt>
  <dd><%= @special_education_application.cps_id %></dd>

  <dt>School of attendance</dt>
  <dd><%= @special_education_application.school_of_attendance %></dd>

  <dt>Daytime</dt>
  <dd><%= @special_education_application.daytime %></dd>

  <dt>Admin</dt>
  <dd><%= @special_education_application.admin_id %></dd>

</dl>
